body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.header-logo {
    font-weight: bold;
}

.header-nav {
    display: flex; 
    justify-content: center; 
    flex-grow: 1; 
}

.header-nav__link {
    color: rgb(0, 0, 0);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.header-nav__link:hover {
    color: #7e7e7e;
}

.header-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    gap: 10px;
    padding: 20px;
}

.photo-grid-item {
    width: 100%;;
}

.photo-grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-grid-item:nth-child(1) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(2) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(3) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 2;
}

.photo-grid-item:nth-child(4) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(5) .photo-grid-image {
    grid-column: span 4;
    grid-row: span 2;
}

.photo-grid-item:nth-child(6) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(7) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(8) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(9) .photo-grid-image {
    grid-column: span 4;
    grid-row: span 2;
}

.photo-grid-item:nth-child(10) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(11) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(12) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 2;
}

.photo-grid-item:nth-child(13) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(14) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(15) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(16) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(17) .photo-grid-image {
    grid-column: span 4;
    grid-row: span 1;
}

.photo-grid-item:nth-child(18) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(19) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(20) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.photo-grid-item:nth-child(21) .photo-grid-image {
    grid-column: span 2;
    grid-row: span 1;
}

.footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

.footer-text {
    margin: 10px 0 0;
    font-size: 14px;
}

.footer-logo {
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }

    .header-menu-icon {
        display: block;
    }

    .header-nav.is-active {
        display: block;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #ffffff;
        width: 150px;
        border-radius: 8px;
        padding: 10px;
    }

    .header-nav__link {
        margin: 10px 0;
        text-align: center;
    }

    .photo-grid {
        grid-template-columns: repeat(6, 1fr); 
        gap: 5px;
    }
}
